/* logo */

.logo {
          width: 100%;
          height: 115px;
      }
      
      
      .logo_wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: 78px;
      }